build
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


jlcpcb
myriad-backups
*.lck
fp-info-cache
.ipynb_checkpoints
hardware/myriad_0.5/myriad_0.5-backups/myriad_0.5-2025-12-22_155134.zip
hardware/myriad_0.5/myriad_0.5-backups/myriad_0.5-2025-12-22_172703.zip
